    * {
        padding: 0;
        margin: 0;
    }

    body {
        background-color: black;
    }

    .main {
        height: 75vh;
        background-size: max(1200px, 100vw);
        /* background-size: 100vw; So that when we resize it, it stays on the sides  */
        background-image: url(assets/img/topImage.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        /* width: 100vw; */
    }

    .main .box {
        height: 100vh;
        width: 100%;
        opacity: 0.75;
        background-color: black;
        position: absolute;
        top: 0;
    }

    nav {
        max-width: 60vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* justify-content: center; */
        height: 100px;

        /* z-index: 1; */
    }


    nav img {
        color: red;
        width: 145px;
        position: relative;
        z-index: 1;
    }

    nav button {
        position: relative;
        z-index: 1;
    }

    .box {
        color: white;
    }

    .top-front {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: white;
        height: calc(100% - 100px);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        padding: 0 30px;
        text-align: center;
    }


    .line {
        height: 8px;
        background-color: gray;
        opacity: 0.35;
        z-index: 1;
    }

    .btn {
        padding: 5px 34px;
        /* font-weight: bold; */
        background-color: rgba(245, 237, 237, 0);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: white;
        border-radius: 8px;
        cursor: pointer;
        font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        font-weight: 500;
        font-size: 16px;
        gap: 25px;
    }

    .top-front-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-red {
        background-color: red;
        color: white;
        font-size: 24px;
        padding: 8px 30px;
        border-radius: 5px;
        font-weight: 600;
        /* height: 48px; */
        /* font-style: normal; */
        /* border-radius: 10px; */
    }

    .btn-red-sm {
        background-color: red;
        color: white;
    }

    .main input {
        padding: 15px 155px 15px 12px;
        border-radius: 5px;
        font-size: 14px;
        /* opacity: 0.1; */
        background-color: rgb(23, 23, 23, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: white;
        font-weight: 900;
        /* height: 40px; */
    }


    .first {
        display: flex;
        /* position: relative; */
        justify-content: center;
        align-items: center;
        max-width: 70vw;
        margin: auto;
        color: white;
        margin-top: 10px;
    }

    .secImg {
        position: relative;
    }

    .secImg img {
        width: 30vw;
        position: relative;
        z-index: 1;
    }

    .secImg video {
        position: absolute;
        top: 90px;
        right: 20px;
    }

    .sGames video {
        position: absolute;
        top: 50px;
        right: 118px;
        width: 350px;
    }

    .first div {
        display: flex;
        flex-direction: column;
    }

    .first>div :nth-child(1) {
        font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        font-weight: 900;
        font-size: 48px;
        z-index: 1;
    }

    .first>div :nth-child(2) {
        font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        font-weight: 400;
        font-size: 24px;
    }

    .faq {
        background-color: black;
        color: rgb(255, 255, 255);
        padding: 34px;
    }

    .faq h2 {
        text-align: center;
        font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        font-weight: 900;
        font-size: 48px;
        padding: 20px;
    }

    .dropdown {
        display: flex;
        padding: 24px;
        margin: 10px auto;
        max-width: 60vw;
        background-color: rgb(61, 58, 58);
        color: white;
        /* margin: auto; */
        justify-content: space-between;
        cursor: pointer;
        font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        font-size: 24px;
        font-weight: 400;
    }

    .dropdown:hover {
        background-color: rgb(86, 84, 84);
        transition: all 0.5s ease-out;
        ;
        color: white;
    }

    footer {
        color: rgba(255, 255, 255, 0.7);
        max-width: 60vw;
        justify-content: center;
        margin: auto;
        padding: 25px;
        /* text-align: center; */
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 30px;
        /* color: white; */
    }

    .footer span {
        padding: 0px 25px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer a {
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.7);
        font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        font-size: 14px;
        font-weight: 400;
    }